.card {
    border: 1px solid #ECECEA;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 3px;

    .rarity {
        margin-right: 8px;
        font-size: 12px;
        padding: 2px;
        color: white;
        background-color: #04050C;
    }

    .indexCollection {
        margin-right: 5px;
        font-weight: 600;
    }

    .cardName {
        font-size: 14px;
    }

    .select{
        border-left: 1px solid #CECECE;
        padding-left: 4px;
    }
}