<section class="add-wishlist">
    <div>
        <span class="title">Lista de Compras</span>
        <hint class="button-hint">?</hint>
    </div>
    <div>
        <span class="subtitle">Adicione a carta aqui e deuxe que a Liga calcule o melhor preço para você!</span>
    </div>
    <div class="footer-wishlist row">
        <div class="counter row content-center between button-bg-white">
            <img src="../../assets/icon/plus-counter.svg" alt="">
            1
            <img src="../../assets/icon/minus-counter.svg" alt="">
        </div>
        <div class="button-bg-white row">
            <img src="../../assets/icon/filter.svg" alt="">
        </div>
        <button class="button-confirm">
            <div class="row align-center">
                <img src="../../assets/icon/plus.svg" alt="" class="icon-img">
                Adicionar na lista
            </div>
        </button>
    </div>
    <div>

    </div>
</section>