.view-container {

    display: flex;
    flex-direction: column;

    .card-selected {

        img {
            max-height: 20rem;
            /* padding-bottom: 30px;
            border-bottom: 2px solid #CECECE; */
        }
    }


    .carrousel {
        display: flex;
        justify-content: space-between;

        img {
            margin: 10px 5px;
            max-height: 7rem;
        }
    }
}