<body>
    <script src="viewer-card.js"></script>
    <div class="view-container">
        <section class="card-selected">
            <img src="../../assets/img/Carta_Counterspell.png" alt="card mtg">
        </section>
        
        <section>
            <div class="carrousel">
                <button>
                    <img src="../../assets/icon/arrow-left.svg" alt="back" class="svg-icon">
                </button>
                <img src="../../assets/img/Carta_Counterspell.png" onclick="makeImageGrayscale(this)">
                <img src="../../assets/img/Carta_Counterspell.png" onclick="makeImageGrayscale(this)">
                <img src="../../assets/img/Carta_Counterspell.png" onclick="makeImageGrayscale(this)">
                <button>
                    <img src="../../assets/icon/arrow-right.svg" alt="back" class="svg-icon">
                </button>
            </div>

        </section>

    </div>

    <script src="viewer-card.js"></script>


</body>