.view-container {

    display: flex;
    flex-direction: column;
    .card-selected {

        img {
            max-height: 20rem;
        }
    }


    .carousel {
        /* width: 20rem;
        border: 1px solid blue; */
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        img {
            margin: 10px 5px;
            max-height: 7rem;
            cursor: pointer;

        }
    }
}