.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-selected img {
    max-height: 20rem;
    border-bottom: 1.9px solid var(--neutral-80-lighter);
    padding-bottom: 1.2rem;
}

.carousel {
    display: flex;
    overflow-x: hidden;
}

.carousel img {
    margin: 10px 5px;
    max-height: 6rem;
    cursor: pointer;
}

.images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    width: 236px;
}