<body>
    <script src="viewer-card.js"></script>
    <div class="view-container">
        <section class="card-selected">
            <img src="../../assets/img/counterspell-dmr.png" alt="card mtg">
        </section>
        
        <section>
            <div class="carousel">
                <button>
                    <img src="../../assets/icon/arrow-left.svg" alt="back" class="svg-icon">
                </button>
                <img src="../../assets/img/counterspell-dmr.png" onclick="selectImage(this)" class="grayscale">
                <img src="../../assets/img/counterspell-gmp.jpg" onclick="selectImage(this)" class="grayscale">
                <img src="../../assets/img/counterspell-mfpf24.jpg" onclick="selectImage(this)" class="grayscale">
                <img src="../../assets/img/counterspell-pdmr.jpg" onclick="selectImage(this)" class="grayscale">
                <button>
                    <img src="../../assets/icon/arrow-right.svg" alt="back" class="svg-icon">
                </button>
            </div>

        </section>

    </div>

    <script src="viewer-card.js"></script>


</body>