<section>
    <div class="row between align-center">
        <span class="details-title">Detalhes da Carta</span>
        <button class="button-primary-bgless ">Ver tudo</button>
    </div>
    <section>
        <div class="detail">
            <span class="detail-name">Cor</span>
            <span>Azul</span>
        </div>
        <div class="detail">
            <span class="detail-name">Custo de Mana</span>
            <div>
                <img src="../../assets/icon/blue-mana.svg" alt="{B}">
                <img src="../../assets/icon/blue-mana.svg" alt="{B}">
            </div>
        </div>
        <div class="detail">
            <span class="detail-name">Tipo</span>
            <span>Instant</span>
        </div>
    </section>

    <div class="row between">
        <span class="details-title">Preço Médio no Marketplace
            <hint class="button-hint">?</hint>
        </span>
        <button class="button-primary-bgless">Ver tudo</button>
    </div>

    <section>
        <div class="detail">
            <span class="detail-name">Normal</span>
            <div>
                <span class="price-low">R$ 6,28</span>
                <span class="price-medium">R$ 9,39</span>
                <span class="price-high">R$ 14,00</span>
            </div>
        </div>
    </section>

</section>