@import 'colors.css';

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    transition: background-color 0.3s ease;

}

.button-bg-white{
    background-color: #F4F4F2;
    border: 1px solid var(--neutral-80-lighter);
}

.button-primary-bgless{
    color: var(--primary-color);
    font-weight: bold;
    border: none;
    background-color: none;
}

.button-primary-bgless:hover{
    background-color: var(--main-bg-color);
}

.button-hint{
    color: #BABAB8;
    border: 2px solid #BABAB8;
    font-weight: bolder;
    padding: 0px 3px;
}

.button-confirm {
    background-color: var(--confirm-color);
    color: white;
    box-shadow: 0px 4px 8px 0px #04050C1A;
}

.button-confirm:hover {
    background-color: var(--confirm-color-dark);
}

.button-favorite {
    color: white;
    -webkit-text-stroke: 1px var(--neutral-80);
    font-size: 20px;
}

.button-favorite:active {
    -webkit-text-stroke: 1px var(--active-color);
    color: var(--active-color);
}

.button-menu {
    background: linear-gradient(0deg, var(--main-bg-color), var(--main-bg-color)),
        linear-gradient(0deg, var(--main-bg-color), var(--main-bg-color));
    border: 0.8px solid var(--main-bg-color);
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    padding: 0px 2px;
    height: 32px;
    width: 32px;
}
.button-menu:hover {
    background:  var(--main-bg-color-dark);
}

.icon-img {
    margin-right: 6px;
}