:root {
    --main-bg-color-dark: #e4e2e2;
    --main-bg-color: #ECECEA;
    --primary-color: #FF5921;
    --primary-color-light: #FF8F58;
    --primary-color-dark: #D63D00;
    --neutral-80: #727270;
    --neutral-80-light: #9B9B98;
    --neutral-80-lighter: #CECECE;
    --active-color: #FF0000;
    --active-color-light: #FF6666;
    --active-color-dark: #CC0000;
    --confirm-color: #127119;
    --confirm-color-light: #69BC40;
    --confirm-color-dark: #087D2B;
    --warning-color: #DDC80B;
    --high-price-color: #FF8B64;
    --black: #04050C;
    --box-shadow-btn: #04050C1A;
    --blue-mana: #0085FF;

}

.blue-mana{
    color: var(--blue-mana);
}