:root {
    --main-bg-color: #ECECEA;
    --primary-color: #FF5921;
    --primary-color-light: #FF8F58;
    --primary-color-dark: #D63D00;
    --border-color: #727270;
    --border-color-light: #9B9B98;
    --active-color: #FF0000;
    --active-color-light: #FF6666;
    --active-color-dark: #CC0000;
    --confirm-color: #127119;
    --confirm-color-light: #4CAF50;
    --confirm-color-dark: #087D2B;
 
    --black: #04050C;
}